alias zshconfig="vim ~/.zshrc"
alias python='/usr/bin/python3.8'
alias vpn='globalprotect launch-ui'
alias ctf='ssh zxt180005@ctf-vm1.utdallas.edu'
alias ctf2='ssh zxt180005@ctf-vm2.utdallas.edu'
alias pub='ssh zxt180005@pubssh.utdallas.edu'
alias ghidra='/opt/ghidra/ghidraRun && exit'
alias vimconfig='vim ~/.vimrc'
alias 4301='cd $HOME/Desktop/classes/4301'
alias 4347='cd $HOME/Desktop/classes/4347'
alias 4348='cd $HOME/Desktop/classes/4348'
alias 4390='cd $HOME/Desktop/classes/4390'
alias pctf='ssh zxt180005@ctf-vm1.syssec.run -p 2221'
alias pctf2='ssh zxt180005@ctf-vm2.syssec.run -p 2221'
alias ve='python3 -m venv ./venv'
alias va='source ./venv/bin/activate'
alias cpv='rsync -ah --info=progress2'
alias mon2cam='deno run --unstable -A -r -q https://raw.githubusercontent.com/ShayBox/Mon2Cam/master/src/mod.ts'
alias gdb='gdb -q'
