alias zshconfig='vim ~/.zshrc'
alias vimconfig='vim ~/.vimrc'

alias ghidra='/opt/ghidra/ghidraRun && exit' 
alias nb='newsboat'

alias ve='python3 -m venv ./venv'
alias va='source ./venv/bin/activate'
alias tmux='tmux -2'
alias gdb='gdb -q'
alias hc='hashcat'
alias msf='msfconsole -q'
#alias hashid='python3 ~/tools/hash-id.py'
alias sublister='sublist3r'
alias jetbrains='/opt/jetbrains/jetbrains-toolbox && disown'
alias tvpn='sudo tmux new -d -s vpn openvpn /opt/thm.ovpn'
alias ipython='jupyter console'

alias lazygit='git add . && git commit -m "." && git push'
alias xclip='xclip -selection c'
alias sound='alsamixer'

alias ad0='ssh zxt180005@syssec-adwaith0 -p 2223'
alias ad1='ssh zxt180005@syssec-adwaith1 -p 2222'
alias ad2='ssh zxt180005@syssec-adwaith2 -p 2225'

alias kali='~/code/dockers/kali/run.sh'
alias bkali='docker build -f ~/code/dockers/kali/Dockerfile -t kali ~/code/dockers/kali'
