alias zshconfig="vim ~/.zshrc"
alias vimconfig='vim ~/.vimrc'

alias ghidra='/opt/ghidra/ghidraRun && exit' 

alias ve='python3 -m venv ./venv'
alias va='source ./venv/bin/activate'
alias gdb='gdb -q'
alias ipython='python3 -m IPython'
alias code='codium'

