bandit () {
    ssh bandit$1@bandit.labs.overthewire.org -p 2220
}

target () {
    IP=$1 tmux
}

b64d () {
    echo $1 | base64 -d
}

dis () {
    for file in "$@"; do
        objdump -D $file -M intel > $file.dis
    done
}

cf () {
    cat $@ | xclip -selection c
}

rcopy_from_drive () {
    for file in "$@"; do
        rclone copy gdrive:$file ~/$file --exclude-from ~/.rclone-filter --drive-skip-gdocs -v
    done
}

rcopy_to_drive () {
    for file in "$@"; do
        rclone copy ~/$file gdrive:$file --exclude-from ~/.rclone-filter --drive-skip-gdocs -v
    done
}

rsync_from_drive () {
    for file in "$@"; do
        rclone sync -i gdrive:$file ~/$file --exclude-from ~/.rclone-filter --drive-skip-gdocs -v
    done
}

rsync_to_drive () {
    for file in "$@"; do
        rclone sync -i ~/$file gdrive:$file --exclude-from ~/.rclone-filter --drive-skip-gdocs -v
    done
}

