bandit () {
    ssh bandit$1@bandit.labs.overthewire.org -p 2220
}

target () {
    IP=$1 tmux
}

b64d () {
    echo $1 | base64 -d
}

dis () {
    for file in "$@"; do
        objdump -D $file -M intel > $file.dis
    done
}
